body {
    background-color: #bfbfbf; 
    font-family: 'Open Sans Condensed', sans-serif;
}
.card-container {
    width: 600px; 
    margin: 15vh auto; 
    padding: 20px; 
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.2); 
    border-radius: 5px; 
    background-color: #f2f2f2;
    font: #000;
}
.card-image {
    width: 45%;
    display: inline-block;
}
.card-image img {
    width: 175px; 
    border-radius: 50%; 
    box-shadow: 0 0 0 3px #3970B7;
} 
.card-name {
    display: inline-block;
    line-height: 175px;
    vertical-align: top;
    text-align: center;
    width: 50%;
    font-weight: bold;
    font-size: 25px;
} 
.card-info h2 {
    background: #0d0d0d;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 50px;
}
.skill .name {
    display: inline-block;
    font-weight: bold; 
    font-size: 18px; 
    width: 60%;
}
.skill .rating {
    display: inline-block; 
    background-color: #ccc; 
    width: 37%;
    line-height: 14px;
    height: 14px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
}
.skill .rating span{
    text-align: center;
    background: green;
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}
